.course-listing-title {
  color: #111;
  line-height: 25px;
  padding: 16px 16px 4px 16px;
  font-weight: bold;
  font-size: 18px;
  max-height: 65px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.progressbar {
  color: rgb(236, 58, 85);
  width: 100%;
  border-radius: 99px;
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  margin-top: 15px;
  text-align: right;
  font-size: 0.7em;
  height: 8px;
  line-height: 40px;
  padding: 0px;

  & .progressbar-fill {
    float: left;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 99px;
    -webkit-border-bottom-left-radius: 99px;
    -moz-border-radius-topleft: 99px;
    -moz-border-radius-bottomleft: 99px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    background-color: #ea2845;
    text-align: left;
    height: 8px;
    background: #ea2845;
    background-image: initial;
    background-color: rgb(175, 17, 41);
    min-width: 100%;
  }
}
